body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin: 0 auto;
    background-color: black;
}

.display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: white;
    width: 100%;
    height: 20%;
} 


.result {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 45px;
    color: white;
    width: 90%;
    height: 18%;
    font-size: 63px;
}

.buttons {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    border-top: 1px solid rgba(0, 0, 0, 0.184);
    width: 90%;
    height: 70%;
    background-color: black;

}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 40px;
    width: 83px;
    height: 83px;
    color: white;
    background-color: #343434;
    justify-self: center;
    cursor: auto;
}

.yellowText {
    background-color: #ff9f0a;
    color: white;
}

.greyText {
    background-color: #a5a5a5;
    color: black;
}

.zeroBtn {
    width: 180px;
    border-radius: 50px;
    grid-column: span 2;   
}
